@import "./static/color.scss";

.widgets {
  margin: 0 20px;
  height: 372px;
  display: flex;
  &__item {
    flex: 1 1 0;
    margin: 100px 0 0 0;
    &--text {
      margin: 20px 0 0 0;
    }
  }
  &__item-1 {
    width: 260px;
  }
}

.copyright-bar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  &__social-network img {
    cursor: pointer;
    margin: 0px 10px;
  }
}

.widgets__inner {
  max-width: 260px;
}

.nav__link-footer {
  display: flex;
  align-items: center;
  white-space: nowrap;
  display: flex;
  text-decoration: none;
  margin: 0 20px 20px 20px;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.5);
  transition: all 0.1s;
}

.hover-footer {
  transition: all 0.1s;
  &:hover {
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
  }
}

.hover-footer-main {
  text-transform: uppercase;
  color: $DarkShade100;
  font-weight: bold;
}

.form {
  position: relative;
}

.form__input {
  padding: 10px;
  width: 240px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.form__button {
  position: absolute;
  right: .4em;
  border: unset;
  background: #ffffff;
  cursor: pointer;
}

.hr {
  border: 1px solid;
  color: rgba(31, 32, 65, 0.1);
  margin: 0;
  position: absolute;
  left: 0;
  width: 99.8%;
}

.active-footer {
  color: $DarkShade100;
  font-weight: bold;
  text-transform: uppercase;
}
