.widgets {
  margin: 0 20px;
}

.copyright-bar {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  &__social-network img {
    cursor: pointer;
    margin: 0px 10px;
  }
}
