.colum {
  display: flex;
}

.colum__inner {
  width: 320px;
  margin: 140px 20px;
  margin-right: 126px;
}

.space-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mg-b-5 {
  margin: 0 0 5px 0;
}
.mg-b-10 {
  margin: 0 0 10px 0;
}
.mg-b-16 {
  margin: 0 0 16px 0;
}
.mg-b-40 {
  margin: 0 0 40px 0;
}

.input {
  width: 288px;
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  outline: none;
  font-family: "Conv_Montserrat-Regular";
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
  &:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
    width: 288px;
    padding: 12px 15px;
    border-radius: 4px;
    outline: none;
    font-family: "Conv_Montserrat-Regular";
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
  }
  &-active {
    border: 1px solid rgba(31, 32, 65, 0.5);
    width: 288px;
    padding: 12px 15px;
    border-radius: 4px;
    outline: none;
    font-family: "Conv_Montserrat-Regular";
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
  }
}

.button {
  width: 288px;
  padding: 12px 15px;
  border-radius: 4px;
  outline: none;
  user-select: none;
  font-family: "Conv_Montserrat-Regular";
  font-size: 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #ffffff;
  color: rgba(31, 32, 65, 0.75);
}

.form-element {
  margin: 0 0 20px 0;
}

.dropdown-active {
  border-radius: 4px 4px 0 0;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
.dropdown-menu {
  position: relative;
}
.dropdown-default {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.dropdown-hidden {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 0px 0px 4px 4px;

  visibility: hidden;

  position: absolute;

  &__item {
    display: flex;
    align-content: space-between;
  }
}

.dropdown-show {
  min-width: 318px;
  min-height: 157px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 0px 0px 4px 4px;
  &__item {
    display: flex;
    align-content: space-between;
  }
}

.adults,
.children,
.babies {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adults {
  margin: 13px 7px 0 15px;

  &-control {
    display: flex;
    align-items: center;
  }
  &-counter {
    margin: 0 12px;
  }
}
.children {
  margin: 13px 7px 0 15px;

  &-control {
    display: flex;
    align-items: center;
  }
  &-counter {
    margin: 0 12px;
  }
}
.babies {
  margin: 13px 7px 0 15px;

  &-control {
    display: flex;
    align-items: center;
  }
  &-counter {
    margin: 0 12px;
  }
}

.minus,
.plus {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.apply-clear {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  text-transform: uppercase;
  color: #bc9cff;
  cursor: pointer;
  margin: 10px 7px 13px 13px;
}

// CHECKBOX BUTTONS

.checkbox-button {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  margin: 0 10px 10px 0;
  transition: all 0.1s ease;

  &__active {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #bc9cff;
    margin: 0 10px 10px 0;
    background: url("../images/check_mark.svg") no-repeat center;
  }
}

.checkbox-buttons {
  display: flex;
  align-items: flex-start;
  & > span {
    margin-top: -2px;
  }
}

// Radio Buttons

.form__radio-buttons {
  display: flex;
}

.form__radio-button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  margin: 0 10px 0 0;
  transition: all 0.1s ease;
  &-active {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #bc9cff;
    margin: 0 10px 0 0;
    background: url("../images/circle_active.svg") no-repeat center;
  }
}

.form__radio-buttons-male-female {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
}

// Toggle

.toggle {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  appearance: none;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin: 0 10px 0 0;
}

input:checked[type="checkbox"] {
  border: 1px solid #bc9cff;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  top: 3px;
  left: 4px;
  transition: .2s ease;
}

input:checked[type="checkbox"]:before {
  left: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
