@import "./static/color.scss";

.header {
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  position: absolute;
  &__inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }
}

.nav {
  display: flex;
  align-items: center;
  &__link {
    white-space: nowrap;
    display: flex;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    color: rgba(31, 32, 65, 0.5);
    transition: all .1s;
  }
  &__link:hover {
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
  }
}

.logo {
  display: flex;
  align-items: center;
}

.authorization {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 34px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  &__inner {
    cursor: pointer;
    background: #ffffff;
    border-radius: 22px;
    color: $Purple;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 18px;
    transition: all .1s;
    &:hover {
      box-shadow: 0 0 8px $Purple;
      color: #ffffff;
      background: $Gradient;
    }
  }
}

.registration {
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 34px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  &__inner {
    cursor: pointer;
    background: #ffffff;
    border-radius: 22px;
    color: $Purple;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 3px 19px;
    transition: all .1s;
    &:hover {
      box-shadow: 0 0 8px $Purple;
      color: #ffffff;
      background: $Gradient;
    }
  }
}