.nav-menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $font-family;
  }

  &__item {
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      margin-bottom: 10px;
    }

    .nav-menu__link {
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
      color: $darkShade50;
      transition: color .2s ease;

      @media (max-width: 768px) {
        display: inline-block;
        width: 100%;
        vertical-align: top;
      }

      &:hover {
        color: $darkShade75;
      }
    }
  }
}