.button {
  position: relative;
  z-index: 0;
  padding: 10px 20px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: $font-family;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: $gradient;
  border: none;
  border-radius: 22px;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }

  &_disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;

    &:hover {
      &::before {
        display: none;
      }
    }
  }

  &_with-variant-outlined {
    padding: 8px 18px;
    color: $purple;
    background: #fff;
    border: 2px solid $purple;

    &::before {
      display: none;
    }
    &:hover {
      opacity: 1;
      background: #fff;
      border: 2px solid #DDCEFF;
      
    }
  }

  &_with-variant-text {
    padding: 0;
    color: $purple;
    background: none;

    &::before {
      display: none;
    }
  }

  &_with-icon {
    position: relative;
    padding: 14px 20px 15px;

    &::after {
      position: absolute;
      top: 0%;
      right: 0;
      width: 44px;
      height: 44px;
      content: '';
      background: url('./img/arrow_forward.svg') no-repeat;
      background-position: center center;
      transition: background .2s ease;
    }

    &:active {
      &::after {
        background-position: 65% center;
      }
    }
  }

  &_large {
    padding: 13px 24px;
  }

  &_medium {
    padding: 12px 18px;
  }

  &_higher {
    padding: 14px 20px;
  }
}