mixin pieChart(pie = {})
  -
    const { voteCount, listLabels, pieData } = pie;
    const pieDataString = pieData.join();

  .pie-chart
    .js-pie-diagram.pie-chart__diagram(data-pie=pieDataString)
      canvas.js-doughnut-chart(width='120', height='120')
    p.pie-chart__vote #[b.pie-chart__vote-count= voteCount] Голосов
    ul.pie-chart__label-list
      each item in listLabels
        -
          const { title, color } = item;
          let itemClass = 'pie-chart__label-item';
          const colorModifiers = ['yellow', 'green', 'purple'];

          if (colorModifiers.includes(color)) {
            itemClass += ` pie-chart__label-item_${color}`;
          }

        li(class=itemClass)= title
