include ../../../../components/typography/typography
include ../../../../components/dropdown-input/dropdown-input
include ../../../../components/bulleted-list/bulleted-list

mixin dropWithBullet
  .drop-with-bullet__row-wrap
    .drop-with-bullet__input.drop-with-bullet__input_with-bottom-gap
      .drop-with-bullet__title-wrap
        +typography({ text: 'Dropdown', variant: 'h3', hasUpper: true })
      +dropDownInput({ text: 'Сколько гостей', classForJs: 'js-input-drop-down-filled' })
      .drop-with-bullet__counter-container.js-drop-down-counter-container-filled
    .drop-with-bullet__list
      .drop-with-bullet__title-wrap.drop-with-bullet__title-wrap_with-bottom-gap
        +typography({ text: 'Bullet list', variant: 'h3', hasUpper: true })
      +bulletedList({
        items: [
          { text: 'Нельзя с питомцами' },
          { text: 'Без вечеринок и мероприятий' },
          { text: 'Время прибытия — после 13:00, а выезд до 12:00' },
        ],
      })