@import '../../style/utils/variables.scss';
@import '../../style/utils/mixin.scss';
@import '../../layout/main/main.scss';
@import '../../components/header/header.scss';
@import '../../components/button/button.scss';
@import '../../components/main-menu/main-menu.scss';
@import '../../components/auth-card/auth-card.scss';
@import '../../components/input/input.scss';
@import '../../components/footer/footer.scss';
@import '../../components/nav-menu/nav-menu.scss';
@import '../../components/social-buttons/social-buttons.scss';
@import '../../components/copyright/copyright.scss';
@import '../../components/typography/typography.scss';

.auth-page {
  &__main {
    height: 100vh;
    background: url('./img/room-interior.jpg') no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__container {
    @include container;
  }

  &__wrap {
    padding: 243px 0 174px;
    display: flex;
    justify-content: center;
  }
}
