extends ../../layout/main/main.pug
include ../../components/auth-card/auth-card

block variables
  -
    const title = 'Toxin - авторизация!';
    const description = 'Toxin authorization';
    const keywords = 'Toxin keywords';
    const pageClass = 'auth-page';
    const mainClass = 'auth-page__main';

block content
  .auth-page__container
    .auth-page__wrap
      +authCard