mixin dropDownInput({ text, classForJs }) 
  -
    let dropDownBodyClass = 'dropdown-input__body'
    let dropDownButtonClass = 'dropdown-input__button'
    if (classForJs) {
      dropDownBodyClass += ` ${classForJs}`
      dropDownButtonClass += ` ${classForJs}-split-btn`;
    }
  .dropdown-input
    .dropdown-input__wrapper
      div(class=dropDownBodyClass)= text
      button(class=dropDownButtonClass, type='button')