include ../../../../components/typography/typography
include ../../../../components/dropdown-input/dropdown-input
include ../../../../components/checkbox-buttons/checkbox-buttons

mixin dropWithRich
  .drop-with-rich__row-wrap
    .drop-with-rich__input.drop-with-rich__input_with-bottom-gap
      .drop-with-rich__title-wrap
        +typography({ text: 'Dropdown', variant: 'h3', hasUpper: true })
      +dropDownInput({ text: 'Сколько гостей', classForJs: 'js-input-drop-down-clear' })
      .drop-with-rich__counter-container.js-drop-down-counter-container-clear
    .drop-with-rich__list
      .drop-with-rich__title-wrap.drop-with-rich__title-wrap_with-bottom-gap
        +typography({ text: 'Rich Checkbox Buttons', variant: 'h3', hasUpper: true })
      +checkboxButtons({
        items: [
          {
            title: 'Широкий коридор',
            label: 'Ширина коридоров в номере не менее 91 см.',
          },
          {
            title: 'Помощник для инвалидов',
            label: 'На 1 этаже вас встретит специалист и проводит до номера.',
          },
        ],
      })