.expandable-checkbox {
  &__summary {
    position: relative;
    margin-bottom: 17px;
    list-style: none;
    font-family: $font-family;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 3px;
      right: 13px;
      width: 12px;
      height: 8px;
      content: '';
      background: url('./img/expand_more.svg') no-repeat;
      transition: transform .2s ease;
    }

  }

  &[open] {
    .expandable-checkbox__summary::before {
      transform: rotate(-90deg);
    }
  }
}
