include ../../components/hotel-card/hotel-card
+hotelCard({ numberHotel: 888, isLux: true, reviewCount: 145, dayCost: '9 900', starCount: 5, images: [ { src: 'img/hotel-rooms/hotel-room-1.jpg', alt: 'Красивый отель' }, { src: 'img/hotel-rooms/hotel-room-1.jpg', alt: 'Красивый отель' }, { src: 'img/hotel-rooms/hotel-room-1.jpg', alt: 'Красивый отель' }, { src: 'img/hotel-rooms/hotel-room-1.jpg', alt: 'Красивый отель' }, ], })
