include ../../components/pagination/pagination
+pagination([
      { title: '1', path: 'not-found-page.html', isActive: true },
      { title: '2', path: 'not-found-page.html' },
      { title: '3', path: 'not-found-page.html' },
      { title: '...', path: 'not-found-page.html' },
      { title: '15', path: 'not-found-page.html' },
      { title: 'Далее', path: 'not-found-page.html', isNext: true },
    ])