include ../../components/input/input
.test
  +input({ type: 'text', name: 'email', placeholder: 'Email' })
  +input({ type: 'text', name: 'text', placeholder: 'Email', value: 'This is pretty awesome', isFocused: true, })
  +input({ type: 'text', name: 'date', placeholder: 'Email', withButton: true })
