doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Toxin
  body 
    h1 This one is the sub-section or widget title
    h2 Next one is the item title inside widgets
    h3 This IS A LABEL OR CTA TEXT
    span This is the body text which is used for most of the design, like paragraphs, lists, etc.
