include ../../components/radio-button/radio-button
+radioButton({
        items: [
          { groupName: 'gender', label: 'Мужчина', isChecked: true },
          { groupName: 'gender', label: 'Женщина' },
        ],
      })