extends ../../layout/main/main.pug
include ../../components/date-wishes/date-wishes

block variables
  -
    const title = 'Toxin - главная!';
    const description = 'Toxin description';
    const keywords = 'Toxin keywords'
    const pageClass = 'index-page';
    const faviconRoutes = {
      apple: 'favicons/apple-touch-icon.png',
      big: 'favicons/favicon-32x32.png',
      small: 'favicons/favicon-16x16.png',
      manifest: 'favicons/site.webmanifest',
      pinned: 'favicons/safari-pinned-tab.svg',
    }; 

block content
  .index-block
    .index-block__container
      .index-block__wrap
        +dateWishes
      .index-block__slogan
        p.index-block__slogan-text Лучшие номера для вашей работы, отдыха и просто вдохновения