include ../../components/features/features
+features({
              items: [
                {
                  title: 'Комфорт',
                  description: 'Шумопоглощающие стены',
                  icon: 'emoticon',
                },
                { title: 'Удобство', description: 'Окно в каждой из спален', icon: 'city' },
              ],
            })