include ../../components/date-picker/date-picker
.form-elements__dropdown.form-elements__dropdown_theme_datepicker.js-form-elements__dropdown_theme_datepicker
  +datePicker({ type: 'double', labels: ['date dropdown', 'date dropdown'], })
.form-elements__dropdown.form-elements__dropdown_theme_date-filter.js-form-elements__dropdown_theme_date-filter
  +datePicker({ type: 'single', labels: ['filter date dropdown'], placeholder: 'Выберите даты', values: '19.08.2020-23.08.2020', })
