include ../../components/nav-menu/nav-menu
-
  const test = [
      {
        title: 'Навигация',
        list: [
          { label: 'О нас' },
          { label: 'Новости' },
          { label: 'Служба поддержки' },
          { label: 'Услуги' }
        ]
      },
      {
        title: 'О нас',
        list: [
          { label: 'О сервисе', path: 'not-found-page.html' },
          { label: 'Наша команда', path: 'not-found-page.html' },
          { label: 'Вакансии', path: 'not-found-page.html' },
          { label: 'Инвесторы', path: 'not-found-page.html' }
        ]
      },
      {
        title: 'Служба поддержки',
        list: [
          { label: 'Соглашения', path: 'not-found-page.html' },
          { label: 'Сообщества', path: 'not-found-page.html' },
          { label: 'Связь с нами', path: 'not-found-page.html' }
        ]
      }
    ]
+navMenu(test[0]) 
