include ../button/button

mixin calendar
  .calendar
    .calendar__datepicker
    .calendar__buttons
      .calendar__cancel
        +button({ title: 'Очистить', variant: 'text' })
      .calendar__apply
        +button({ title: 'Применить', variant: 'text' })