include ../button/button

mixin calendar
  .calendar
    .datepicker-here
    .datepicker-here__buttons
      .datepicker-here__buttons__wrapper 
        +button({ title: 'очистить', variant: 'text' })
      .datepicker-here__buttons__wrapper 
        +button({ title: 'применить', variant: 'text' })