extends ../../layout/ui-kit.pug
include ../../components/logo-inactive/logo-inactive
include ../../components/header/header
include ../../components/footer/footer

block variables
  -
    const title = 'Toxin - шапки и подвалы!'
    const description = 'Toxin description'
    const keywords = 'Toxin keywords'
    const pageClass = 'headers-and-footers'
    const faviconRoutes = {
      apple: 'favicons/apple-touch-icon.png',
      big: 'favicons/favicon-32x32.png',
      small: 'favicons/favicon-16x16.png',
      manifest: 'favicons/site.webmanifest',
      pinned: 'favicons/safari-pinned-tab.svg',
    }

  -
    const menuItems = [
      { title: 'О нас', isActive: true },
      { 
        title: 'Услуги',
    
        subMenu: [
          { title: 'Подбор отелей' },
          { title: 'Заказать трансфер' },
          { title: 'Рейтинг отелей' }
        ]
      },
      { title: 'Вакансии' },
      { title: 'Новости' },
      {
        title: 'Соглашения',
        subMenu: [
          { title: 'Пользовательские' },
          { title: 'Международные' }
        ]
      }
    ];

block content
  .headers-and-footers__logo-wrap
    +logoInactive
  .headers-and-footers__wrap
    .headers-and-footers__item
      +header({ customMenuItems: menuItems })
    .headers-and-footers__item.headers-and-footers__item_authorized
      +header({ customMenuItems: menuItems, userName: 'Юлий Цезарь' })
    .headers-and-footers__item
      +footer
    .headers-and-footers__item.headers-and-footers__item_short
      +footer({ isShort: true })
