@import '../../style/utils/variables.scss';

.air-datepicker {
  width: 318px;
  font-family: $font-family;
  &--content {
    width: 280px;
    margin: 0 auto;
    margin-top: 23px;
  }

  &-nav {
    margin-top: 11px;
    border-bottom: none;

    // SVG [prev, next]
    :first-child {
      margin-left: 7.7px;
    }
    :last-child {
      margin-right: 7.7px;
    }
    &--action {
      > svg {
        display: none;
      }
    }

    // Title calendar
    &--title {
      font-weight: bold;
      font-size: 19px;
      line-height: 22.8px;
      color: $darkShade100;
      > i {
        color: $darkShade100;
      }
    }
  }

  &--buttons {
    border-top: none;
    & .air-datepicker-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 2px;
      margin-bottom: 5px;

      :first-child {
        margin-left: 5px;
      }
      :last-child {
        margin-right: 5px;
      }
      & .air-datepicker-button {
        color: $purple;
        font-size: 12px;
        line-height: 14.4px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  &-body {
    // Days of the week
    &--day-names {
      margin-bottom: 14px;
    }
    &--day-name {
      color: $purple;
      font-weight: bold;
      line-height: 14.4px;
    }
    &--cells.-days- {
      grid-auto-rows: 40px;
    }
  }
  // Days
  &-cell {
    color: $darkShade50;
    font-size: 12px;
    line-height: 14.4px;
    width: 40px;
    height: 40px;
    &.-current- {
      background: $gradientSecond;
      color: white;
      font-weight: bold;
      border-radius: 50%;
      &.-in-range- {
        border-radius: 0;
        font-weight: normal;
        color: $darkShade50;
      }
    }
    &.-focus- {
      border-radius: 50%;
      color: white;
      background: $gradient;
      font-weight: bold;
      &.-in-range- {
        font-weight: normal;
        border-radius: 0;
        background: linear-gradient(to top, #bc9cff3f 0%, #8ba4f93f 100%);
      }
    }
    &.-select- {
      border-radius: 50%;
      background: $gradient;
      font-weight: bold;
    }
    &.-selected- {
      border-radius: 50%;
      background: $gradient;
      font-weight: bold;
      &.-focus- {
        background: $gradient;
        border-radius: 50%;
      }
      &.-range-from-::before {
        content: '';
        position: absolute;
        right: 0;
        border-radius: 50% 0 0 50%;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #bc9cff3f 0%, #8ba4f93f 100%);
      }
      &.-range-to-::before {
        content: '';
        position: absolute;
        right: 0;
        border-radius: 0 50% 50% 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #bc9cff3f 0%, #8ba4f93f 100%);
      }
    }
    &.-range-from- {
      border: none;
      border-radius: 50%;
      background: $gradient;
      &.-select- {
        border-radius: 0;
      }
    }
    &.-range-to- {
      border: none;
      border-radius: 50%;
      background: $gradient;
    }
    &.-in-range- {
      background: linear-gradient(to top, #bc9cff3f 0%, #8ba4f93f 100%);
      color: $darkShade50;
    }
  }
}

.material-icons-outlined {
  color: $purple;
}

.d {
  margin: 30px;
  padding: 2% 20px;
  border: bisque 2px solid;
  border-radius: 2px;
  outline: none;
}