
.air-datepicker {
  height: 380px;
}

































































.d {
  margin: 30px;
  padding: 2% 20px;
  border: bisque 2px solid;
  border-radius: 2px;
  outline: none;
}