@import '../../style/utils/variables.scss';

.air-datepicker {
  width: 318px;

  &-nav {
    margin-top: 11px;
    border-bottom: none;

    // SVG [prev, next]
    :first-child {
      margin-left: 7.7px;
    }
    :last-child {
      margin-right: 7.7px;
    }
    &--action {
      > svg {
        display: none;
      }
    }

    // Title calendar
    &--title {
      font-family: $font-family;
      font-weight: bold;
      font-size: 19px;
      line-height: 22.8px;
      color: $darkShade100;
      > i {
        color: $darkShade100;
      }
    }
  }

  &--content {
    width: 280px;
    margin: 0 auto;
    margin-top: 24px;
  }
}

.material-icons-outlined {
  color: $purple;
}

.d {
  margin: 30px;
  padding: 2% 20px;
  border: bisque 2px solid;
  border-radius: 2px;
  outline: none;
}
