include ../logo-active/logo-active
include ../nav-menu/nav-menu
include ../input/input
include ../copyright/copyright
include ../social-buttons/social-buttons
include ../typography/typography

mixin footer(isShort)
  -
    const navMenuItems = [
      {
        title: 'Навигация',
        list: [
          { label: 'О нас' },
          { label: 'Новости' },
          { label: 'Служба поддержки' },
          { label: 'Услуги' }
        ]
      },
      {
        title: 'О нас',
        list: [
          { label: 'О сервисе' },
          { label: 'Наша команда' },
          { label: 'Вакансии' },
          { label: 'Инвесторы' }
        ]
      },
      {
        title: 'Служба поддержки',
        list: [
          { label: 'Соглашения' },
          { label: 'Сообщества' },
          { label: 'Связь с нами' }
        ]
      }
    ]
    let footerClass = 'page-footer';
    if (isShort) {
      footerClass += ' page-footer_short';
    }
  footer(class=footerClass)
    .page-footer__container
        .page-footer__wrap.page-footer__wrap_short
          .page-footer__logo-wrap.page-footer__logo-wrap_short
            +logoActive
          .page-footer__copyright-wrap.page-footer__copyright-wrap_short
            +copyright
          +socialButtons
        .page-footer__wrap
          .page-footer__content
            .page-footer__col.page-footer__col_large
              .page-footer__logo-wrap
                +logoActive
              .page-footer__text-content-wrap
                +typography({ variant: 'body', text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»', })
            .page-footer__col-group
              .page-footer__col
                .page-footer__title-nav-wrap
                  +typography({ variant: 'h3', text: 'Навигация', hasUpper: true })
                +navMenu(navMenuItems[0])
              .page-footer__col
                .page-footer__title-nav-wrap
                  +typography({ variant: 'h3', text: 'О нас', hasUpper: true })
                +navMenu(navMenuItems[1])
              .page-footer__col
                .page-footer__title-nav-wrap
                  +typography({ variant: 'h3', text: 'Служба поддержки', hasUpper: true })
                +navMenu(navMenuItems[2])
              section.page-footer__col.page-footer__col_large
                .page-footer__title-wrap
                  +typography({ variant: 'h3', text: 'Подписка', hasUpper: true })
                .page-footer__text-content-wrap
                  +typography({ variant: 'body', text: 'Получайте специальные предложения и новости сервиса', })
                form
                  +input({ type: 'text', name: 'date', placeholder: 'Email', withButton: true })
          .page-footer__side-info
            .page-footer__copyright-wrap
              +copyright
            +socialButtons