.social-buttons {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }
}