include ../../../../components/typography/typography
include ../../../../components/button/button
include ../../../../components/pagination/pagination
include ../../../../components/range-slider/range-slider

mixin buttons
  -
    const pages = [
      { title: '1', isActive: true },
      { title: '2' },
      { title: '3' },
      { title: '...' },
      { title: '15' },
      { title: 'Далее', isNext: true },
    ];

  .buttons
    .buttons__range-slider-wrap
      +rangeSlider({ title: 'Range Slider', start: [5000, 10000], step: 100, range: { min: 300, max: 15700 }, })
    .buttons__button
      .buttons__title-wrap
        +typography({ text: 'Buttons', variant: 'h3', hasUpper: true })
      .buttons__buttons-wrap
        .buttons__button-wrap
          +button({ title: 'Click me', size: 'higher' })
        .buttons__button-wrap
          +button({ title: 'Click me', size: 'higher', isDisabled: true })
      .buttons__buttons-wrap
        .buttons__button-wrap
          +button({ title: 'Click me', size: 'medium', variant: 'outlined' })
        .buttons__button-wrap
          +button({ title: 'Click me', size: 'medium', variant: 'outlined', isDisabled: true, })
      .buttons__buttons-wrap
        .buttons__button-wrap
          +button({ title: 'Click me', variant: 'text' })
        .buttons__button-wrap
          +button({ title: 'Click me', variant: 'text', isDisabled: true })
      .buttons__submit-btn
        +button({ title: 'Перейти к оплате', withIcon: true, buttonType: 'submit' })
    .buttons__button
      .buttons__title-wrap
        +typography({ text: 'Pagination', variant: 'h3', hasUpper: true })
      +pagination(pages)
