mixin checkboxButtons({ items })
  ul.checkbox-buttons
    each item in items
      -
        const { label, title, isChecked } = item;
        const labelSpanClass = title
          ? 'checkbox-buttons__label-text checkbox-buttons__label-text_description'
          : 'checkbox-buttons__label-text';

      li.checkbox-buttons__item
        label.checkbox-buttons__label
          if title
            p.checkbox-buttons__title= title
          input.checkbox-buttons__input(type='checkbox', checked=isChecked)
          span(class=labelSpanClass)= label