@import '../../style/utils/variables.scss';
@import '../../components/button/button.scss';
@import '../../components/main-menu/main-menu.scss';

.sub-menu {
  position: fixed;
  width: 280px;
  height: 100vh;
  right: -280;

  &__item {
    margin-left: 40px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    color: $darkShade50;
    transition: color 0.2s ease;

    &:hover {
      color: $darkShade75;
      background-color: $darkShade5;
      border-radius: 10px;

      .sub-menu__item-li {
        display: block;
      }

      .main-menu__sub-menu {
        display: block;
      }

    }

    &-li {
      display: none;
      & > li {
        list-style: none;
      }
    }

    &:first-child {
      margin-top: 15px;
    }
  }

  &-active {
    transition: right 0.2s ease;
    position: fixed;
    width: 100%;
    width: 320px;
    height: 100vh;
    right: 0;
  }
}

.main-menu {
  margin-top: 10px;
  user-select: none;
  cursor: pointer;
  color: $darkShade75;
}

.main-menu__sub-menu {
  display: none;
}

.buttons {
  &-auth,
  &-reg {
    margin: 12px auto;
  }

  &-auth {
    width: 86px;
  }
  &-reg {
    width: 196px;
  }
}
