include ../../components/button/button

-
  const menuItems = [
    { title: 'О нас' },
    {
      title: 'Услуги',
      subMenu: [
        { title: 'Услуги' },
        { title: 'Услуги' },
      ]
    },
    { title: 'Вакансии' },
    { title: 'Новости' },
    {
      title: 'Соглашения',
      subMenu: [
        { title: 'Соглашения' },
        { title: 'Соглашения' }
      ]
    }
  ]
.sub-menu
  .main-menu.js-main-menu.main-menu_active
    span.material-icons-outlined close
  .sub-menu__item О нас
  .sub-menu__item Услуги
    ul.sub-menu__item-li
      li Услуги
      li Услуги
  .sub-menu__item Вакансии
  .sub-menu__item Новости
  .sub-menu__item Соглашения
    ul.sub-menu__item-li
      li Соглашения
      li Соглашения
  .buttons
    .buttons-auth
      +button({ title: 'Войти', path: 'auth.html', variant: 'outlined' })
    .buttons-reg
      +button({ title: 'Зарегистрироваться', path: 'registration.html' })
