@import '../../style/utils/variables.scss';
@import '../../components/button/button.scss';

.sub-menu {
  position: fixed;
  width: 100%;
  width: 320px;
  height: 100vh;
  right: 0;

  &__item {
    margin-left: 40px;
  }

  &-active {
    position: fixed;
    width: 100%;
    width: 320px;
    height: 100vh;
    background-color: grey;
    right: 0;
  }
}

.buttons {

  &-auth, &-reg {
    margin: 12px auto;
  }

  &-auth {
    width: 86px;
  }
  &-reg {
    width: 196px;
  }
}
